*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

:root {
    --bg:var(--accent-light);
    --dark: #13131b;
    --accent: #3822ff;
    --accent-light: #00ffff;
    --card: #ffffff;
    --text: #000000;
    --muted: #353544;
    --border: #afa57e;
}

nav{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 50;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-family: 'syne', sans-serif;
    font-weight: 1000;
    font-size: x-large;
    color: azure;
    letter-spacing: normal;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none ;
}

.nav-links a {
    color: aliceblue;
    text-decoration: none;
    font-size: large ;
    font-weight: bold ;
    transition:cubic-bezier(0.23, 1, 0.320, 1) ;
}
.nav-links a:hover {color:antiquewhite;}

.hero-wrapper {padding:50px 50px 0 ;
}
.hero {
    background: var(--card);
    border:1px var(--border);
    border-radius: 20px ;
    padding: 80px 40px;
    text-align: center;
}

.hero h1 {
    font-family: 'Syne', sans-serif;
    font-size: xx-large;
    font-weight: 800;
    color: var(--dark);
    letter-spacing: -1px;
    line-height:normal;
    max-width: 700px;
    margin: auto;
}

.hero p {
    color: var(--muted);
    font-size:larger;
    font-weight:500;
    max-width: 460px;
    margin: 0 auto 36px;
    line-height: 1.6;
}

.btn-primary {
    background: var(--accent);
    color:white;
    border: none;
    padding: 14px 28px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover { background: #2f4ac7;  }    

.btn-outline {
    background: transparent;
    padding:  14px 28px;
    color: var(--accent);
    border: 1.5px solid var(--accent);
    cursor: pointer;
}
.btn-outline:hover { background: #babdc7;  }   

.features-grid {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 17px;
    padding: 24px 48px 0;
}   

.feature-card {
    background: var(--card);
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 40px 20px;
}

.bottom-grid {
    display: grid;
    grid-template-columns: 1fr 340px;
    gap: 15px;
    padding: 25px 50px 30px;
}

footer {
    background: var(--dark);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    height: 40px;
}
.footer-links {
    color:white;
    display: flex;
    gap: 24px;
}
